@import "../../node_modules/bootstrap/scss/mixins"
@import "variables"

.home-row
  &.dark
    background-color: $dark
    color: $white
  
  &.light
    background-color: $white

  padding: (3 * $spacer) 0
  h2, h3
    margin: auto
    max-width: 50%
    text-align: center

  h2
    text-transform: uppercase

  .link-container
    text-align: center

  .btn-cnc
    margin-top: 20px

  picture img, .video
    width: 100%

  .col-xs-12
    margin-block: $spacer

@include media-breakpoint-up(lg)
  .home-row
    h2, h3
      max-width: initial
      text-align: left
      margin: auto

    .link-container
      text-align: left
